<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!-- web.config by Anders Fogh Eriksen -->
<configuration>
    <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="404" redirect="404.html" />
        </customErrors>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false" targetFramework="4.0" />
        <authentication mode="Forms" />
    </system.web>
    <connectionStrings />

    <system.webServer>
        <staticContent>
            <!-- Set expire headers to 30 days for static content-->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <directoryBrowse enabled="false" />
        <validation validateIntegratedModeConfiguration="false" />
        <urlCompression doStaticCompression="true" />
        <modules runAllManagedModulesForAllRequests="true"/>

        <httpProtocol>
            <customHeaders>
                <!-- 
                http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
                Uncomment to serve cross-domain ajax requests
                
                <add name="Access-Control-Allow-Origin" value="*" />
                -->
                <!-- 
                Force the latest IE version, in various cases when it may fall back to IE7 mode
                github.com/rails/rails/commit/123eb25#commitcomment-118920
                Use ChromeFrame if it's installed for a better experience for the poor IE folk 
                -->
                <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
                <!-- 
                Allow cookies to be set from iframes (for IE only)
                If needed, uncomment and specify a path or regex in the Location directive 
                
                <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
                -->

                <!-- A little extra security (by obscurity) -->
                <remove name="X-Powered-By" />

            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
