{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_edit_password|safe }}
{% endblock %}

{% block content %}

    <p class="alert alert-warning">
        <a class="close" data-dismiss="alert">×</a>
        <strong>WARNING:</strong> This feature is being implemented. Wait a moment or <a href="https://github.com/coto/gae-boilerplate" target="_blank">help me</a> to do it faster and better.
    </p>

    <form id="form_edit_password" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="current_password">{{ lang.field_current_password|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="current_password" id="current_password" type="password" placeholder="{{ lang.enter_your|safe }} {{ lang.field_current_password|safe }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">{{ lang.field_new_password|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="password" id="password" type="password" placeholder="{{ lang.enter_your|safe }} {{ lang.field_new_password|safe }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="c_password">{{ lang.field_cpassword|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="c_password" id="c_password" type="password" placeholder="{{ lang.field_cpassword|safe }}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_edit_password|safe }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}