{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_reset|safe }}
{% endblock %}

{% block content %}

    <form id="form_new_password" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="password">{{ lang.field_new_password|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="password" id="password" type="password" placeholder="{{ lang.enter_your|safe }} {{ lang.field_new_password|safe }}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="c_password">{{ lang.field_cpassword|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="c_password" id="c_password" type="password" placeholder="{{ lang.field_cpassword|safe }}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_reset|safe }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_new_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}