{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_fyp|safe }}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

    <form id="form_reset_password" action="{{ action|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email_or_username">{{ lang.login_username|safe }}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="email_or_username" id="email_or_username" type="text" placeholder="{{ lang.enter_your|safe }} {{ lang.login_username|safe }}" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls" id="captcha">
                    {{captchahtml | safe}}
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{{ lang.menu_reset|safe }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript">
        $().ready(function() {
            $("#form_reset_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}