{% extends "base.html" %}

{% block header_title %}
    {{ lang.menu_secure|safe }}
{% endblock %}

{% block content %}

    <h3>{{ lang.text_session_info|safe }}</h3>
    <div class="tooltip-demo well">
    <ul>
        {% for us in user_session %}
        <li><b>{{ us }}:</b> {{ user_session[us] }}</li>
        {% endfor %}
    </ul>
    <b>Session object:</b> {{ user_session_object }}
    </div>

    <h3>{{ lang.text_user_info|safe }}</h3>
    <div class="tooltip-demo well">
    <ul>
        <li><b>user_id:</b> {{ user_info.key }}</li>
        <li><b>created:</b> {{ user_info.created }}</li>
        <li><b>updated:</b> {{ user_info.updated }}</li>
        <li><b>username:</b> {{ user_info.username }}</li>
        <li><b>name:</b> {{ user_info.name }}</li>
        <li><b>last name:</b> {{ user_info.last_name }}</li>
        <li><b>email:</b> {{ user_info.email }}</li>
        <li><b>IP:</b> {{ user_info.ip }}</li>
        <li><b>Password:</b> {{ user_info.password }}</li>
    </ul>
    <b>User object:</b> {{ user_info_object }}
    </div>
    <p><a href="{{ logout_url }}" class="btn btn-primary">{{ lang.menu_logout|safe }}</a></p>


{% endblock %}